:root {
  --border-line: 1px solid black;
  --font-family: "Fredoka One", cursive;
  --background-color: #f0f1f3;
  --color-text: rgb(35, 53, 101);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  margin-top: 10px;
  font-family: var(--font-family);
  font-weight: normal;
}

.fronticons {
  width: 25px;
}

.sergio {
  width: 150px;
}

/* CONTAINER*/

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.programming-lenguages {
  justify-content: space-around;
  width: 100%;
  display: none;
}

.flex-spaceBetween {
  justify-content: space-between;
}

.flex-icon {
  width: 35px;
  height: 35px;
  padding: 3px;
}

.flex-logo {
  width: 180px;
  padding: 3px;
}

.max-width {
  max-width: 900px;
  margin: 0 auto;
}

.main {
  display: flex;
  flex-direction: column;
  height: 3200px;
  overflow: hidden;
  margin-top: 5rem;
  z-index: 0;
  position: relative;
}

.background1 {
  height: 300px;
}

.background1_center {
  max-width: 600px;
  margin: 0 auto;
  height: 300px;
  position: relative;
}

.background1_absolute-right {
  height: 612px;
  width: 672px;
  position: absolute;
  left: 600px;
}

.background1_absolute-left {
  height: 612px;
  width: 672px;
  right: 600px;
  position: absolute;
}

.background1_img {
  width: 672px;
  height: 612px;
}

.background2_center {
  background-color: azure;
  margin: 0 auto;
  height: 2325px;
  position: relative;
  z-index: -1;
  background-color: var(--background-color);
}

.title {
  width: 100%;
  height: 300px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  font-size: 2rem;
  text-align: center;
}

.title h1 {
  margin-bottom: 0;
}

.projects {
  width: 600px;
  margin: 0 auto;
  min-height: 300px;
}

@media screen and (min-width: 600px) {
  .programming-lenguages {
    display: flex;
  }
}

/* TYPOGRAPHY */

h1,
h2,
h3,
h4 {
  font-family: var(--font-family);
  font-weight: normal;
  color: var(--color-text);
}

.opacity7 {
  opacity: 0.7;
}

.letter-space {
  letter-spacing: 2px;
}

/*LINKS*/

a {
  color: var(--color-text);
}

a:visited {
  color: var(--color-text);
}

a:active {
  color: var(--color-text);
}

/*BUTTONS*/

.btn {
  padding: 1.5rem 3rem;
  font-size: 1.6rem;
  border-radius: 8px;
  font-family: var(--font-family);
  font-weight: normal;
  letter-spacing: 1px;
  color: white;
  background-color: var(--color-text);
  border: none;
  cursor: pointer;
  white-space: nowrap;
  margin-right: 0.5rem;
}

.btn-white {
  background: white;
  color: var(--color-text);
  border: 2px solid var(--color-text);
}

.btn-delete {
  border: none;
  cursor: pointer;
  background: darkred;
  color: white;
  border-radius: 5px;
  padding: 0.5rem;
}

.buttons {
  margin-bottom: 2rem;
}

.btn_title {
  margin: 1rem;
  padding: 1.5rem 3rem;
  font-size: 1.6rem;
  border-radius: 8px;
  font-family: var(--font-family);
  font-weight: normal;
  letter-spacing: 1px;
  color: var(--color-text);
  background-color: white;
  border: 2px solid var(--color-text);
  cursor: pointer;
  white-space: nowrap;
  box-shadow: 0 5px 0 0 var(--color-text);
}
.projects_title {
  margin: 1rem;
  padding: 1.5rem 3rem;
  font-size: 2rem;
  border-radius: 8px;
  font-family: var(--font-family);
  font-weight: normal;
  letter-spacing: 1px;
  color: var(--color-text);
  background-color: gold;
  border: 2px solid var(--color-text);
  white-space: nowrap;
  box-shadow: 0 5px 0 0 var(--color-text);
  position: relative;
}

.unique-github {
  height: 20px;
  width: 20px;
  position: absolute;
  right: 20px;
  top: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.text {
  font-size: 1.6rem;
  padding: 2rem 4rem 0 4rem;
  font-weight: bold;
  line-height: 2.5rem;
  color: var(--color-text);
}

/* MENU */

@keyframes grow {
  0% {
    transform: scale(0.1);
  }

  100% {
    transform: scale(1);
  }
}

.menu-style {
  text-align: center;
  text-decoration: none;
}

.menu-h2 {
  margin: 0;
  padding: 10px 0;
}

.menu {
  align-items: center;
  background: rgb(49, 140, 221);
  border-radius: 20px;
  bottom: 40px;
  color: white;
  cursor: pointer;
  display: flex;
  font-size: 1.6rem;
  font-weight: bold;
  height: 5rem;
  justify-content: center;
  letter-spacing: 1px;
  position: fixed;
  right: 50px;
  width: 18rem;
  z-index: 3;
  animation-name: grow;
  animation-duration: 1s;
}

.menu:active {
  transform: scale(0.8);
  transition: transform 0.5s;
}

.menu:hover {
  background: rgb(30, 130, 217);
}

.menu_project {
  margin: 1rem;
}

.none {
  visibility: hidden;
}

.main-menu {
  position: fixed;
  right: 50px;
  bottom: 120px;
  width: 200px;
  height: 0;
  background: white;
  border-radius: 5px;
  transition: height 1s;
  overflow: hidden;
  z-index: 3;
}

.expand {
  border: 1px solid rgb(202, 199, 199);
  height: 190px;
}

/* PORTFOLIO TRACKER */

.portfolio_box {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 550px;
  margin: 0 auto;
}
.portfolio_searchbox {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.portfolio_input1 {
  outline: none;
  border: none;
  font-size: 1.4rem;
  padding: 1.5rem 2rem;
  margin: 2rem 2rem 2rem 0.5rem;
  max-width: 40%;
  border-radius: 5px;
  background: white;
}

.portfolio_input2 {
  outline: none;
  border: none;
  font-size: 1.4rem;
  padding: 1.5rem 2rem;
  margin: 2rem;
  width: 30%;
  border-radius: 5px;
  background: white;
}

.portfolio_table {
  display: flex;
  justify-content: center;
  font-size: 1.4rem;
  margin-bottom: 3rem;
}

.portfolio_table th {
  width: 80px;
  text-align: center;
  height: 30px;
}

.portfolio_table td {
  text-align: center;
  height: 30px;
}

.validation {
  border: 2px solid darkred;
  width: 100%;
  padding: 1rem;
  border-radius: 8px;
  text-align: center;
  font-size: 1.2rem;
  color: darkred;
}

.portfolio_total {
  text-align: center;
  font-size: 1.4rem;
  margin-bottom: 4rem;
  font-weight: bold;
}

/* Size Required */

.size-big {
  display: flex;
  justify-content: center;
  align-content: center;
  position: fixed;
  width: 100vw;
  z-index: 5;
  margin-top: 100px;
}

.size-box {
  border-radius: 5px;
  width: 300px;
  height: 55px;
  border: 3px solid darkred;
  background-color: red;
  color: white;
  font-size: 1.63rem;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (min-width: 600px) {
  .size-big {
    display: none;
  }
}

/* Slider */

.container-slider {
  max-width: 400px;
  height: 300px;
  margin: 20px auto 10px;
  position: relative;
  overflow: hidden;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
}

.slide {
  width: 100%;
  height: 100%;
  position: absolute;
  opacity: 0;
  transition: opacity ease-in-out 0.4s;
}
.slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.active-anim {
  opacity: 1;
}

.btn-slide {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #f1f1f1;
  border: 1px solid rgba(34, 34, 34, 0.287);
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.btn-slide img {
  width: 25px;
  height: 25px;
  pointer-events: none;
}
.prev {
  top: 50%;
  left: 20px;
  transform: translateY(-60%);
}
.next {
  top: 50%;
  right: 20px;
  transform: translateY(-60%);
}

.container-dots {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
}
.dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: 1px solid #f1f1f1;
  margin: 0 5px;
  background: #f1f1f1;
}
.dot.active {
  background: rgb(32, 32, 32);
}

/*Carousel Slider*/

.item {
  min-height: 200px;
  min-width: 250px;
  padding: 20px;
}

.item img {
  width: 100%;
  height: 100%;
  border-radius: 2rem;
  pointer-events: none;
}

.inner-carrousel {
  display: flex;
}

.carousel {
  cursor: grab;
  overflow: hidden;
  background-color: rgb(228, 229, 229);
  margin-bottom: 40px;
  margin-top: 20px;
}

.hiddenBox {
  display: none;
}

.alert-text {
  text-align: center;
  border-radius: 5px;
  color: red;
  font-size: 1.6rem;
  font-family: var(--font-family);
  margin-top: 2rem;
  height: 3rem;
}

@media only screen and (min-width: 1370px) {
  .hiddenBox {
    display: block;
  }

  .alert-text {
    color: var(--background-color);
  }
}

/* TOCTACTOE */

.main-box {
  max-width: 170px;
  height: 150px;
  margin: 40px auto;
  display: flex;
  flex-wrap: wrap;
  cursor: pointer;
}

.box {
  width: 50px;
  height: 50px;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
}

.disallow {
  pointer-events: none;
}

.tictac-menu {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 20px 40px 10px 40px;
}

.computer {
  font-size: 1.6rem;
}

.human {
  font-size: 1.6rem;
}

.btn-reset {
  border: none;
  cursor: pointer;
  background: darkred;
  color: white;
  border-radius: 5px;
  padding: 1rem;
  font-weight: bold;
  font-size: 1.4rem;
}

.btn-nextgame {
  border: none;
  cursor: pointer;
  background: rgb(32, 137, 75);
  color: white;
  border-radius: 5px;
  padding: 1rem;
  font-weight: bold;
  font-size: 1.4rem;
}

/*Shopping Cart*/

.container-box-box {
  width: 600px;
  height: 210px;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.container-title-box {
  width: 600px;
  height: 50px;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.box-box {
  border: 1px solid black;
  width: 210px;
  height: 210px;
  border-radius: 5px;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
}

.box-title-box {
  width: 500px;
  height: 50px;
  border-radius: 5px;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
}

.box-item-box {
  width: 80px;
  height: 80px;
  border: 1px solid rgb(34, 108, 177);
  border-radius: 5px;
  margin: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: move;
}

.current-box {
  color: white;
  border: 1px solid white;
}

.baby-box {
  width: 45px;
  height: 45px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.4rem;
}

.fruits {
  margin: 0;
}

.shopping-text {
  font-size: 1.6rem;
}
