:root {
  --border-line: 1px solid black;
  --font-family: "Fredoka One", cursive;
  --background-color: #f0f1f3;
  --color-text: rgb(35, 53, 101);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  margin-top: 10px;
  font-family: var(--font-family);
  font-weight: normal;
}

img {
}

.fronticons {
  width: 10px;
}

.sergio {
  width: 150px;
}

/* CONTAINER*/

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.programming-lenguages {
  justify-content: space-around;
  width: 100%;
  display: none;
}

.flex-spaceBetween {
  justify-content: space-between;
}

.flex-icon {
  width: 35px;
  height: 35px;
  padding: 3px;
}

.flex-logo {
  width: 180px;
  padding: 3px;
}

.max-width {
  max-width: 900px;
  margin: 0 auto;
}

.main {
  display: flex;
  flex-direction: column;
  height: 5000px;
  overflow: hidden;
  margin-top: 5rem;
  z-index: 0;
  position: relative;
}

.background1 {
  height: 300px;
}

.background1_center {
  max-width: 600px;
  margin: 0 auto;
  height: 300px;
  position: relative;
}

.background1_absolute-right {
  height: 612px;
  width: 672px;
  position: absolute;
  left: 600px;
}

.background1_absolute-left {
  height: 612px;
  width: 672px;
  right: 600px;
  position: absolute;
}

.background1_img {
  width: 672px;
  height: 612px;
}

.background2_center {
  background-color: azure;
  margin: 0 auto;
  height: 2000px;
  position: relative;
  z-index: -1;
  background-color: var(--background-color);
}

.title {
  width: 100%;
  height: 300px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  font-size: 2rem;
  text-align: center;
}

.title h1 {
  margin-bottom: 0;
}

.projects {
  width: 600px;
  margin: 0 auto;
  min-height: 300px;
}

@media screen and (min-width: 600px) {
  .programming-lenguages {
    display: flex;
  }
}

/* TYPOGRAPHY */

h1,
h2,
h3,
h4 {
  font-family: var(--font-family);
  font-weight: normal;
  color: var(--color-text);
}

.opacity7 {
  opacity: 0.7;
}

.letter-space {
  letter-spacing: 2px;
}

/*LINKS*/

a {
  color: var(--color-text);
}

a:visited {
  color: var(--color-text);
}

a:active {
  color: var(--color-text);
}

/*BUTTONS*/

.btn {
  padding: 1.5rem 3rem;
  font-size: 1.6rem;
  border-radius: 8px;
  font-family: var(--font-family);
  font-weight: normal;
  letter-spacing: 1px;
  color: white;
  background-color: var(--color-text);
  border: none;
  cursor: pointer;
  white-space: nowrap;
  margin-right: 0.5rem;
}

.btn-white {
  background: white;
  color: var(--color-text);
  border: 2px solid var(--color-text);
}

.btn-delete {
  border: none;
  cursor: pointer;
  background: darkred;
  color: white;
  border-radius: 5px;
  padding: 0.5rem;
}

.buttons {
  margin-bottom: 2rem;
}

.btn_title {
  margin: 1rem;
  padding: 1.5rem 3rem;
  font-size: 1.6rem;
  border-radius: 8px;
  font-family: var(--font-family);
  font-weight: normal;
  letter-spacing: 1px;
  color: var(--color-text);
  background-color: white;
  border: 2px solid var(--color-text);
  cursor: pointer;
  white-space: nowrap;
  box-shadow: 0 5px 0 0 var(--color-text);
}
.projects_title {
  margin: 1rem;
  padding: 1.5rem 3rem;
  font-size: 2rem;
  border-radius: 8px;
  font-family: var(--font-family);
  font-weight: normal;
  letter-spacing: 1px;
  color: var(--color-text);
  background-color: gold;
  border: 2px solid var(--color-text);
  white-space: nowrap;
  box-shadow: 0 5px 0 0 var(--color-text);
}

.text {
  font-size: 1.6rem;
  padding: 2rem 4rem;
  font-weight: bold;
  line-height: 2.5rem;
  color: var(--color-text);
}

/* MENU */

@keyframes grow {
  0% {
    transform: scale(0.1);
  }

  100% {
    transform: scale(1);
  }
}

.menu {
  align-items: center;
  background: rgb(49, 140, 221);
  border-radius: 20px;
  bottom: 40px;
  color: white;
  cursor: pointer;
  display: flex;
  font-size: 1.6rem;
  font-weight: bold;
  height: 5rem;
  justify-content: center;
  letter-spacing: 1px;
  position: fixed;
  right: 50px;
  width: 18rem;
  z-index: 3;
  animation-name: grow;
  animation-duration: 1s;
}

.menu:active {
  transform: scale(0.8);
  transition: transform 0.5s;
}

.menu:hover {
  background: rgb(30, 130, 217);
}

.menu_project {
  margin: 1rem;
}

.none {
  visibility: hidden;
}

.main-menu {
  position: fixed;
  right: 50px;
  bottom: 120px;
  width: 200px;
  height: 0;
  background: white;
  border-radius: 5px;
  transition: height 1s;
  overflow: hidden;
  z-index: 3;
}

.expand {
  border: 1px solid rgb(202, 199, 199);
  height: 300px;
}

/* PORTFOLIO TRACKER */

.portfolio_box {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 550px;
  margin: 0 auto;
}
.portfolio_searchbox {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.portfolio_input1 {
  outline: none;
  border: none;
  font-size: 1.4rem;
  padding: 1.5rem 2rem;
  margin: 2rem 2rem 2rem 0.5rem;
  max-width: 40%;
  border-radius: 5px;
  background: white;
}

.portfolio_input2 {
  outline: none;
  border: none;
  font-size: 1.4rem;
  padding: 1.5rem 2rem;
  margin: 2rem;
  width: 30%;
  border-radius: 5px;
  background: white;
}

.portfolio_table {
  display: flex;
  justify-content: center;
  font-size: 1.4rem;
  margin-bottom: 3rem;
}

.portfolio_table th {
  width: 80px;
  text-align: center;
  height: 30px;
}

.portfolio_table td {
  text-align: center;
  height: 30px;
}

.validation {
  border: 2px solid darkred;
  width: 100%;
  padding: 1rem;
  border-radius: 8px;
  text-align: center;
  font-size: 1.2rem;
  color: darkred;
}

.portfolio_total {
  text-align: center;
  font-size: 1.4rem;
  margin-bottom: 4rem;
  font-weight: bold;
}
