:root {
  --border-line: 1px solid black;
  --font-family: "Fredoka One", cursive;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  margin-top: 10px;
  font-family: var(--font-family);
  font-weight: normal;
}

img {
  width: 100%;
}

/* CONTAINER*/

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.programming-lenguages {
  justify-content: space-around;
  width: 80%;
  display: none;
}

.flex-spaceBetween {
  justify-content: space-between;
}

.flex-icon {
  width: 35px;
  height: 35px;
  padding: 3px;
}

.flex-logo {
  width: 180px;
  padding: 3px;
}

.max-width {
  max-width: 900px;
  margin: 0 auto;
}

@media screen and (min-width: 600px) {
  .programming-lenguages {
    display: flex;
  }
}

/* TYPOGRAPHY */

h1,
h2,
h3,
h4 {
  font-family: var(--font-family);
  font-weight: normal;
}

.opacity7 {
  opacity: 0.7;
}

.letter-space {
  letter-spacing: 2px;
}
